<html>
    <head>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css" >
        <script type="text/javascript" src="jquery/jquery.js"></script>
        <script type="text/javascript" src="popper/umd/popper.js"></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <%- include("header") -%>
        <form action="/" method="post">
            <!--<img src="/images/suzy.png" />-->
            <input name="n1" placeholder="numero1">
            <input name="n2" placeholder="numero1">
            <button type="submit"><%= cadena %></button>
        </form>

        <form class="form-group" action="/api/idol" method="post" enctype="multipart/form-data">
            <input class="form-control" name="name" placeholder="name">
            <input name="hangul" placeholder="kr name">
            <input  name="genre" placeholder="F/M">
            <input type="date" name="birthday" placeholder="bd">
            <input type="date" name="debut" placeholder="debut">
            <input type="checkbox" value="false" name="active" onclick="this.value = this.checked">
            <input required type="file" name="avatar">
            <button type="submit">crear idol</button>
        </form>

        
        <!--
            name:String,
    avatar:String,
    hangul:String,
    type:String,
    birthday:Date,
    debut:Date,
    active:Boolean,
    genre:String
        -->
       
        <script>
           
        </script>
        
    </body>
</html>