<html>
    <body>
        <%- include("header") -%>
        <form action="/" method="post">
            <img src="images/suzy.png" />
            <input name="n1" placeholder="numero1">
            <input name="n2" placeholder="numero1">
            <button type="submit"><%= cadena %></button>
        </form>
    </body>
</html>