<html>
    <head>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css" >
        <script type="text/javascript" src="jquery/jquery.js"></script>
        <script type="text/javascript" src="popper/umd/popper.js"></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        
        <div class="container" id="app">
            <h1>Hello group</h1>
            <todo-item></todo-item>
            <div class="row">
                <form action="/api/group" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input class="form-control" name="name" placeholder="name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="hangul" placeholder="kr name">
                    </div>
                    <div class="form-group">
                        <input class="form-control"  name="genre" placeholder="F/M">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="date" name="debut" placeholder="debut">
                    </div>
                    <div class="form-group">
                        <select name="members" id="members" multiple class="form-control">
                            <option v-bind:value="idol._id" v-for="idol in info">{{idol.name}}</option>
                        </select>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="false" name="active" onclick="this.value = this.checked">
                    </div>
                    <div class="custom-file">
                        <input class="custom-file-input" required type="file" name="avatar">
                        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">crear idol</button>
                    </div>
                </form>
            </div>
        </div>
        
        <script>
            Vue.component('todo-item', {
            template: '<li>This is a todo</li>'
            })
            var app = new Vue({
            el: '#app',
            data() {
                return {
                    info : null
                }
            },
            mounted () {
                axios
                .get('http://localhost:3000/api/idol')
                .then(response => (this.info = response.data))
            }
            });
            
            $(document).ready(function(){

            });
        </script>
    </body>
</html>